* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*TEXTO*/
h1 {
    font-family: "Kapakana", cursive;
    font-size: 450px;
    font-weight: 400;
}

p {
    font-family: "Public Sans", sans-serif;
    font-weight: 200;
}

.texto-intro {
    color: white;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h3 {
    font-family: "Kulim Park", sans-serif;
    color: white;
    font-size: 90px;
    font-weight: 300;

}

.título-room {
    font-family: "La Belle Aurore", cursive;
    color: white;
    font-size: 200px;
}

.menu {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.menu2 {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}



/*Elementos Generales*/

.menu a {
    text-decoration: none;
    color: black;
}

.menu ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 30px;
}



.menu2 {
    background-color: black;
    width: 100%;

}
.menu2 a {
    text-decoration: none;
    color: white;
}

.menu2 ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}


/*HOME*/

.hero {
    height: 500px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.hero h1 {
    padding-top: 600px;
}





.intro {
    background-color: black;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative
}


.intro div {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding-top: 200px;
    gap: 0;
}

.img-intro {
    width: 400px;
    height: auto;
    margin-top: -60px; 
}

.texto-intro {
    padding-bottom: 200px;
    margin-top: -60px;
    

    position: relative;
}




.indice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 100vh;
}

.indice div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid black;
}

.indice h2 { 
    margin: 0;
    font-size: 32px;
    font-weight: normal;
}


/*ROOMS*/

.portada-room {
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.portada-room h3 {
    margin-top: 700px;
    margin-left: 80px;
}

.portada-room h1 {
    margin-left: 80px;
}


/*Rooms 01 & 02*/
.room {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 100px;
    margin-bottom: 150px;
}

.room-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 100px;
}

.room p {
    font-size: 12px;
    width: 40%;
    justify-content: flex-end;
}

.room-reverse p {
    font-size: 12px;
    width: 40%;
    margin-left: auto;
    text-align: right;
}



.room > div {
    width: auto;
}
.room-reverse > div {
    width: auto;
}

.room img {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-reverse img {
    width: 560px;
}

.room > div > img {
    display: flex;
    justify-content: right;
}


/*Room 03*/



/*ABOUT*/

.about-intro {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-intro > div {
    width: 420px;
}

.foto-paula {
    width: 100%;
    display: block;
    margin-bottom: 25px;
}

.about-intro p {
    color: white;
    font-size: 13px;
}




.portada-claudio {
    background-color: black;
    color: white;
    display: flex;
    height: 100%;
}

.portada-claudio img {
    width: 820px;
}

.portada-claudio p {
    margin: 100px;
    margin-top: 1000px;
    font-size: 30px;
}



.gallery-one {
    height: 100vh;
    margin-top: 200px;
}

.gallery-one img{
    width: 600px;
}


/*FOOTER*/
footer {
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 150px;
}

footer > .social-icons {
    display: flex;
    gap: 20px;
}

footer > .social-icons a {
    color: black;
    font-size: 20px;
}


/*HOVER*/

nav > ul > li > a:hover {
    color: purple;
}

.social-icons a:hover {
    background-color: white;
    color: purple;
}